.results {
    max-width: 1200px;
    margin: auto;
}
.results__title {
    text-align: center;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin: 0;
}
.results__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    max-width: 554px;
    margin: 28px auto 106px auto;
    text-align: center;
}
.results__features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 100px 0;
}
.results__featureImgTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02px;
}

@keyframes move {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

.results__animation {
    display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}