.access {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 90px;
}
.access__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin: 0;
    margin-bottom: 27px;
    max-width: 400px;
}
.access__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin: 0;
    margin-bottom: 33px;
}
.access__line {
    margin: 0;
    margin-bottom: 25px;
}
.access__groupIcon {
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.access__icon {
    width: 126px;
    justify-self: center;
}
.access__circle2 {
    display: block;
    float: right;
    margin-top: 80px;
}