.demo {
    max-width: 1200px;
    margin: auto;
    margin-top: 190px;
    display: flex;
}
.demo__amountGroup {
    display: flex;
}
.demo__count {
    display: flex;
    margin-bottom: 15px;
}
.demo__amount {
    max-width: 211px;
    margin-right: 80px;
}
.demo__amount:last-child {
    margin-right: 0px;
}
.demo__watchText {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
    margin: 0;
    align-self: center;
    margin-left: 20px;
    margin-right: auto;
}
.demo__countText {
    font-weight: 400;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 1.44px;
    margin: 0;
}
.demo__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #545479;
    margin: 0;
}